* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .sub_main {
  height: 610px;
  width: 400px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 25px;
}
.main .sub_main .content {
  display: flex;
  flex-direction: column;
}
.main .sub_main .content .image_box img {
  border-radius: 20px;
}
.main .sub_main .content .text {
  padding: 25px;
}
.main .sub_main .content .text h3 {
  font-size: 1.6em;
  font-weight: 700;
}
.main .sub_main .content .text p {
  color: hsl(220, 15%, 55%);
  font-size: 1.2em;
  text-align: center;
}